<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <title>{{siteTitle}}</title>
    <link href="/css/impress-{{template}}.css" rel="stylesheet" />
</head>
<body class="impress-not-supported">
<!--
    For example this fallback message is only visible when there is `impress-not-supported` class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div class="modal-wrapper" id="urlHint">
    <div class="modal">
        <div class="modal-content">
            <div class="presenter-group">
                <p><b>Keep secret!</b> For you to present from:</p>
                <div class="copy-field">
                    <input type="url" id="presenter-url" onclick="select()"><span id="woo"></span><button type="button" value="COPY" id="presenter-url-copy" onClick="document.getElementById('presenter-url').select(); document.execCommand('copy'); document.getElementsByClassName('woo')[0].className += ' animatedwoo';"><span class="text">COPY</span></button>
                </div>
            </div>

            <div class="viewer-group">
                <p>For viewers to follow along at:</p>
                <div class="copy-field">
                    <input type="url" id="viewer-url" onclick="select()"><span id="woo"></span><button type="button" value="COPY" id="viewer-url-copy" onClick="document.getElementById('viewer-url').select(); document.execCommand('copy'); document.getElementsByClassName('woo')[1].className += ' animatedwoo';"><span class="text">COPY</span></button>
                </div>
            </div>
        </div>

        <button type="button" value="PRESENT" id="present-button" onClick="document.getElementById('urlHint').style.display = 'none';">
            <span class="text" >PRESENT</span>
        </button>
    </div>
</div>

<div id="impress">
    {{#each slides}}

    <div class="step" data-x="{{x}}" data-y="{{0}}" >
        {{{content}}}
    </div>
    {{/each}}


<!--Scripts-->
<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>
<script>
if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
}
</script>
<script src="/js/impressWithoutKeyControl.js"></script>
<script src="/js/js.cookie.js"></script>
<script>
      console.log(Cookies.get('presenter'));
</script>
<script src="/js/socket.js/{{presID}}"></script>

</body>
</html>